#app {
  margin: 2em;
}

.assembly-add-item {
  margin-left: 10px;
}

.assembly-add-stage {
  width: 25%;
}

.assembly-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
}

.assembly-item:hover {
  background-color: yellow;
}